{% extends 'base.html' %}

{% block html %}

<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="http://localhost:8080/favicon.ico">
    <title>frontend</title>
  <link href="http://localhost:8080/js/app.js" rel="preload" as="script"><link href="http://localhost:8080/js/chunk-vendors.js" rel="preload" as="script"></head>
  <body>
    {% block body %}
        {{ block.super }}
    {% endblock %}
  <script type="text/javascript" src="http://localhost:8080/js/chunk-vendors.js"></script><script type="text/javascript" src="http://localhost:8080/js/app.js"></script></body>
</html>

{% endblock %}